:root {
    --green0: #8cd790;
    --green1: #0EC075;
    --green2: #b9dcc5;
    --green3: #006a38;
    --green4: #9aba6a;
    --green5: #ccd3a4;
    --green6: #d5ded7;
    --yellow: #ffd000;
    --orange: #f8b03c;
    --beige1: #f0d088;
    --beige2: #ffe9ba;
    --blue1: #00376a;
    --blue2: #007595;
    --blue3: #99bfe6;
    --blue4: #d3e8f9;
    --red: #ad503c;
    --pink: #c79c9b;
    --gray1: #3a4443;
    --gray2: #d0cbc3;
    --gray3: #e9e4e3;
    --gray4: #f6f4f4;
}